.top {
	padding: 10px 0 10px 0;
	background-color: #64B5F6;
	color: #fff;
}

nav a {
	margin-right: 20px;
	color: #fff;
}
nav a:hover {
	text-decoration: none;
}

/*product list home*/

.product-section a:hover {
	text-decoration: none;
	color: #23527c;
}

.product-section a {
	color: #fff;
}

.product-section {
	margin-top: 20px;
	color: #fff;
}
.product-elem {
	padding: 10px;
	background-color: #1E88E5;
	min-height: 150px;
	border: 1px solid #fff;
}

/*product details*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 250px) 
and (max-device-width : 480px) {
	.col-xs-4 {
		float:none;
		width: 100%;
	}
	.col-xs-8 {
		float: none;
		width: 100%;
	}
}

@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 723px) {
	.col-xs-4 {
		width: 33.33%;
	}
}

/* Desktops and laptops ----------- */
.product-details {
	padding: 0 5px 0 5px;
	margin-top: 20px;
	color: #000;
}

.product-details .product-img {
	margin: 0 auto;
}

.order-section {
	padding: 10px 0 0 0;
}

.order-section .order-form {
	padding: 20px 0 0 0;
}

/*profile*/
.account-details {
	padding: 0 5px 0 5px;
	margin-top: 20px;
	color: #000;
}

.info-updated {
	padding: 10px;
	font-size: 12px;
}

/*order*/
.order-item {
	padding: 5px;
	margin-bottom: 20px;
}